{
{% for browser in browsers %}
  "{{ browser.name }}": {
    "default": "{{ browser.versions[0].version }}",
    "versions": {
{% for version in browser.versions %}
      "{{ version.version }}": {
        "image": "selenoid/{{ browser.name }}:{{ version.version }}",
        "port": "4444",
        "path": "{{ version.path }}"
      }{% if not loop.last %},{% endif %}
{% endfor %}
    }
  }{% if not loop.last %},{% endif %}
{% endfor %}
}
